<style>
      body {
        background-image:url(https://i.redd.it/69xsc94129b01.png);
        text-align: justify;
      }
      .hello-world {
        color: yellow;
        font-size: 8cm;
        font-family: 'Helvetica';
      }
    </style>
